---
Language: Cpp
BasedOnStyle: Mozilla
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
# Includes are sorted by paragraph, so one can use empty lines to
# enforce other sorting behavior.  The following groups and their order
# should however be considered as canon, with alphabetical sorting
# of lines within a group.
# 0. #include "something.h"
#    | main header for a source file
# 1. #include <algorithm>
#    #include <vector>
#    etc.
#    | system headers, e.g. standard library.
# 2. #include <boost/core.hpp>
#    #include <boost/functional/hash.hpp>
#    etc.
#    | boost should have its own group and not be interspersed with
#    | other system headers.
# 3. #include "halbe/hal/Coordinate.h"
#    #include "sthal/HICANN.h"
#    etc.
#    | Includes from other projects should come before includes from
#    | the current project.
# 4. #include "marocco/placement/NeuronPlacement.h"
#    etc.
IncludeCategories:
  # Group boost headers after std and other system headers.
  - Regex:           '^<boost'
    Priority:        2
  - Regex:           '^<'
    Priority:        1
  # Group marocco headers after other local includes.
  - Regex:           '^"(py)?marocco/'
    Priority:        4
  - Regex:           '.*'
    Priority:        3
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PenaltyBreakBeforeFirstCallParameter: 1
Standard: Cpp03
TabWidth: 4
UseTab: ForIndentation
...
