# waf stuff
build*
html
latex
.lock-waf*
.waf-*/
waf*

*.pyc
*.o
*.so
*.swp
*.bin

# install dirs
bin/
lib/
include/

# ctags
tags

# compiler stuff
core

!*.cpp
!*.h
!*.py

# data
*.xml
test.*

# emscripten stuff
marocco/results/Marocco.html
marocco/results/Marocco.html.mem
marocco/results/Marocco.js
marocco/results/Marocco.js.mem
marocco/results/.symwaf2ic*
